html{
	background: #25242C;
}
#main{
	width: 100%;
	margin: auto;
	background: #32313B;
}
#boardContainer{
	padding: 1%;
}
.header{
	background: #000000;
	font-family: "Avenir Next", Avenir, monospace;
	font-weight: bold;
	text-align: center;
	color: #56C9EC;
	margin-bottom: -10px;
}
#board table, #board td{
    border: 4px solid white;
    border-collapse: collapse;
		background: black;
		color: white;
		opacity: 1;
}
#board td{
    width: 80px;
    height: 80px;
    text-align: center;
		font-size: 20;
}
#board td:hover{
	background-color: white;
	color: black;
}
#discardContainer table{
	width: 576px;
	border-spacing: 0;
}
#discardContainer table, #discardContainer td{
	border:2px solid black;
	border-collapse: collapse;
	background: white;
	opacity: 0.9;
}
#discardContainer td{
	border: 1px solid black;
}
#discardContainer td:first-child{
	border-left: 0px;
}
#discardContainer thead tr, #discardContainer tbody{
	display: block;
}
#discardContainer tbody{
	height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}
#discardContainer thead th, #discardContainer tbody td{
	width: 140px;
	padding: 5px;
}
#discardContainer thead th:last-child {
	width: 156px;
}
.player1{
	outline: 5px solid #d9534f;
	outline-offset: -8px;
}

.player2{
	outline: 5px solid #f0ad4e;
	outline-offset: -8px;
}

.testColor{
	outline: 5px solid black;
	outline-offset: -8px;
}

.playable{
	/outline: 5px solid white;
	/opacity: .2;
	background: blue; 
}

.btn-group{
	padding-left: 0%;
}

footer{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #32313B;
	color: #EC3F8C;
}
